html {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  box-sizing: border-box;
  background-color: #eee9de;
  color: #333;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 1em;
  text-align: center;
  border-width: 0;
}

div {
  max-width: 25rem;
  width: auto;
  display: inline-block;
  padding: 1em;
  margin: 0;
  vertical-align: middle;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.text {
  text-align: left;
}

.btn {
  text-align: center;
}

a {
  color: #333;
  display: inline-block;
  border: medium solid #333;
  border-radius: .5em;
  padding: .4em .75em .53em;
  margin: 1.5rem;
  text-decoration: none;
}

a:hover {
  background-color: #666;
  border: medium solid #666;
  color: #eee9de;
}
